body,
html,
*{
    font-size: 25px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    background-color: black;
    color: white;
}

:root {
    --blue: rgb(54, 48, 48);
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.2rem;
    padding: 3vh;
}

.counter {
    font-size: 1.4rem;
}

.words {
    font-size: 1.8rem;
    padding: 2vh;
}

#submitForm {
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 90vw;
}

.userResponse {
    border: 2px solid silver;
}

.button {
    border: 2px solid red;
    flex-basis: 20vw;
    box-shadow: 5px 5px 5px gray;
}

.button:hover {
    background-color: var(--blue);
  }